fieldset{
width :28%;
padding : 10px;
margin : 0;
display : inline-block;
text-align: left;
vertical-align: top;
}
label{
  font-weight: bold;
}
span{
  font-weight: normal;
}
input:focus{
  outline: none !important;
  border-color: red;
}
input[type=number]{
    width: 50px;
}
input:invalid {
  background-color: yellow;
}
